html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.clear_fix{
	margin:  0 !important;
	padding: 0 !important;
}

.clear_left{
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding: 0 !important;
}

.container{
	height: 100%;
	width: 100%;
	/* background: rgb(102,198,194); */
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.day{
	background: rgb(102,198,194);
}

.night{
	background: #000;
}

.container2{
	height: auto;
	width: 100%;
	background: url('../img/grad.jpg')no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.play{
	    
}

#link_bar{
	  margin-top: 2%;
}

.bars{
	  margin-top: 5%;
	  z-index: 10;
	  position: relative;
}

#vid_link{
	background: lavenderblush;
	  font-size: 1.2em;
	  height: 30px;
}

.volume_cont{
	
}

.vol_section{
	margin-top: 10%;
}

#submit{
	height: 30px;
	background: slategrey;
	font-size: 1.2em;
	border: 1px solid black;
}

#player{
	  margin-top: 2%;
	  /* background: url('../img/tv.png')no-repeat; */
	  z-index: 5;
	  position: relative;
}

/* Living room */
.side_objects{
	margin-top: 5%;
	position: absolute;
	z-index: 0;
}

.bottom_object{
	position: absolute;
	bottom: 0;
	z-index: 0;
}

.speaker{
	position: absolute;
	z-index: 0;
	bottom: 0;
}

.speaker_right{
	right: 0;
	position: absolute;
	z-index: 0;
	bottom: 0;
}


/* player controls */
.video_info{
	margin-top: 3%;
    font-size: 1.5em;
}
	
.play_controls{
	margin-top: 5%;
}

.search_section{
	margin-top: 4%;
}

.search_bar{
	background: lavenderblush;
	font-size: 1.2em;
	height: 30px;
}

.search_btn{
	height: 32px;
}

.search_results{
	  height: 300px;
	overflow-y: scroll;
	position: relative;
}

.vid_list{
	  z-index: 10;
	  border: 1px solid rgb(146, 130, 79);
	  margin-top: 3%;
	  background: rgb(255, 253, 253);
	  text-align: left;
	  font-size: 1.2em;
}

.active{
	background: rgb(172, 195, 183);
}


